{% extends '_master.html' %}

{% block head %}
{{ super() }}
<script type="text/javascript">
    $(document).ready(function() {
        $("#swaggerAnchor").attr("href", document.___API_URL + "/ui/");
    });
</script>
{% endblock %}


{% block nrcanheadercontent %}

<h1 property="name" id="wb-cont">{{ _('HOME_TITLE') }}</h1>
{{ _('HOME_SUB_TITLE') }}

{% endblock %}

{% block nrcanbody %}

{{ _('HOME_MORE') }}

{% if using_connexion %}
{{ _('HOME_MORE_CONNEXION') }}
{% else %}
{{ _('HOME_MORE_NO_CONNEXION') }}
{% endif %}

{% endblock %}


