{% extends '_master.html' %}

{% block head %}
{{ super() }}
<script type="text/javascript">
    $(document).ready(function() {
        $(".submit_on_enter").keydown(function(e) {
            if (e.keyCode==13) {
                uiLoginUser();
                return false;
            }
        });
    });
    function uiLoginUser() {
        var urlParams = new URLSearchParams(window.location.search);
        loginUser($("#username").val(), $("#password").val(),
                  '{{ lang }}',
                  urlParams.get('redirect_uri'));
    }
</script>
{% endblock %}

{% block nrcanheadercontent %}

<h1>{{ _('LOGIN_LOG_IN') }}</h1>
<div>{{ _('LOGIN_USERNAME') }}</div>
<div><input id="username" type="text" placeholder="{{ _('LOGIN_USERNAME') }}" class="submit_on_enter"/></div>
<div>{{ _('LOGIN_PASSWORD') }}</div>
<div><input id="password" type="password" placeholder="{{ _('LOGIN_PASSWORD') }}" class="submit_on_enter"/></div>
<br>
<div><input type="button" value="{{ _('LOGIN_LOG_IN') }}" onclick="uiLoginUser();"/></div>

{% endblock %}


